
@{
    ViewBag.Title = "NewComment";
    Layout = "~/Views/_Layout.cshtml";
}
@model EdliyyeProduct.Models.Entity.Comment
<h2>New Comment</h2>



<div class="container">

    <form class="form-group" action="/Home/NewComment" method="post">
        @Html.AntiForgeryToken()
        @* AntiForgeryToken sayti guclendirir yeni her hansi sehfeye browserden adres yazaraq gire bilmirsen *@
        <div>
            <label>Name:</label>
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })

        </div>
        <div>
            <label>Email:</label>
            @Html.TextBoxFor(m => m.email, new { @class = "form-control" })

        </div>
        <div>
            <label>Body:</label>
            @Html.TextBoxFor(m => m.Body, new { @class = "form-control" })

        </div>
        <div>
            <label>Post ID:</label>
            @Html.TextBoxFor(m => m.PostId, new { @class = "form-control" })

        </div>
        <div>
            <button class="btn btn-info" style="margin-top:20px;">add record</button>
        </div>

    </form>
</div>

@if (ViewBag.message != null)
{
    <p style="color:red">@ViewBag.message</p>

}
